{{ include('header.twig', {'title': 'Créer un nouvel intermède'}) }}

<main>
    <section class="container">
        <h1>Ajouter un nouvel intermède</h1>

        <form action="{{ path }}intermede/store" method="post">
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" id="titre" name="titre" required>
            </div>

            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" id="type" name="type">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>
            </div>

            <div class="form-group">
                <label for="duree">Durée</label>
                <input type="text" id="duree" name="duree">
            </div>

            <div class="form-group">
                <label for="annee_originale">Année Originale</label>
                <input type="number" id="annee_originale" name="annee_originale">
            </div>

            <div class="form-group">
                <label for="lien_video">Lien Vidéo</label>
                <input type="text" id="lien_video" name="lien_video">
            </div>

            <button type="submit">Créer</button>
        </form>
    </section>
</main>
